<ion-content>
  <div class="navigate sbox">
    <div class="backkey" ng-click="doTheBack()"></div>
    <div class="navigate-title"><span class="icon album"></span>담은 음악</div>
  </div>
  <div ui-view id="editlist" class="search-page">
    <div class="search-list box">
      <ul class="list" ng-repeat="(i, track) in searchTracks">
        <li class="list-item" ng-class="{checked: checkedItem(track.number)}" ng-click="toggleSelection(track.number)">
          <div class="item-check">
            <input type="checkbox" name="selected" value="{{track.number}}">
          </div>
          <div class="item-content">
            <dl>
              <dt class="item-content-title">{{track.title}}</dt>
              <dt class="item-content-description">{{track.artist}}</dt>
            </dl>
          </div>
          <div class="item-right">
            <span ng-click="playTrack(i)" class="toplay"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</ion-content>
<div class="tab-control bottom">
  <a class="tab-submit" ng-click="setChangePost()">선택완료</a>
</div>
