<ion-content>
<div class="navigate sbox">
  <div class="backkey" ui-sref="us.top"></div>
  <div class="navigate-title"><span class="icon album"></span>나의앨범</div>
</div>
<div ui-view id="myalbum">
  <div class="top-myalbum-group box group-section" >
    <div class="metro-box">
      <div class="img-button" ng-repeat="(i, album) in albums">
        <div class="img-cover">
          <p class="album-title" ng-click="viewMenu(album.PLAYGROUP)">{{album.POST_TITLE}}</p>
          <span class="btn playing" ng-click="goAlbum(album.PLAYGROUP)" ></span><span class="btn packing" ng-click="pushAlbum(album.PLAYGROUP)"></span>
        </div>
        <div class="album-cover" style="background-image:url({{album.thumb}})"></div>
      </div>
    </div>
  </div>
  <div class="toast fadein fadeout" ng-show="toast == true">{{toast_message}}</div>
</div>

</ion-content>
<div class="tab-control bottom" ng-show="menu">
  <a class="tab-btn" ng-click="gift(selectAlbum)">선물하기</a>
  <a class="tab-btn" ng-click="goAlbum(selectAlbum)">듣기</a>
  <a class="tab-btn" ng-click="pushAlbum(selectAlbum)">담기</a>
</div>
