<div class="navigate sbox">
  <div class="backkey" ui-sref="us.top"></div>
  <div class="navigate-title"><span class="icon album"></span>나의 앨범</div>
</div>
<div ui-view id="myalbum">
    <div class="top-myalbum-group box group-section" >
        <div class="metro-box">
          <div class="img-button" ui-sref="player">
            <div class="img-cover">
              <p class="album-title">내가<br>담은 음악</p>
              <span class="btn">담기</span><span class="btn">재생</span>
            </div>
            <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
          </div>
          <div class="img-button" ui-sref="player">
            <div class="img-cover">
              <p class="album-title">내가<br>담은 음악</p>
              <span class="btn">담기</span><span class="btn">재생</span>
            </div>
            <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
          </div>
          <div class="img-button" ui-sref="player">
            <div class="img-cover">
              <p class="album-title">내가<br>담은 음악</p>
              <span class="btn">담기</span><span class="btn">재생</span>
            </div>
            <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
          </div>
          <div class="img-button" ui-sref="player">
            <div class="img-cover">
              <p class="album-title">내가<br>담은 음악</p>
              <span class="btn">담기</span><span class="btn">재생</span>
            </div>
            <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
          </div>
          <div class="img-button" ui-sref="player">
            <div class="img-cover">
              <p class="album-title">내가<br>담은 음악</p>
              <span class="btn">담기</span><span class="btn">재생</span>
            </div>
            <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
          </div>
          <div class="img-button" ui-sref="player">
            <div class="img-cover">
              <p class="album-title">내가<br>담은 음악</p>
              <span class="btn">담기</span><span class="btn">재생</span>
            </div>
            <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
          </div>
          <div class="img-button" ui-sref="player">
            <div class="img-cover">
              <p class="album-title">내가<br>담은 음악</p>
              <span class="btn">담기</span><span class="btn">재생</span>
            </div>
            <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
          </div>
    </div>
</div>
