<div ui-view id="player">
	<div class="player-display">
		<ion-audio-track track="dynamicTrack" toggle-playback="togglePlayback">
			  <ion-audio-controls>
				<a class="button button-icon icon" ion-audio-play></a>
			  </ion-audio-controls>
		</ion-audio-track>
		<ion-audio-progress-bar display-time display-info></ion-audio-progress-bar>
		<h2>{{dynamicTrack.title}}</h2>
		<p>{{dynamicTrack.artist}}</p>
	</div>
	<div class="search-list box">
		<ul class="list" ng-repeat="(i, track) in tracks">
			<li class="list-item">
				<div class="item-check">
					<input type="checkbox" name="selected" ng-click="toggleSelection(i)" value="{{i}}">
				</div>
				<div class="item-content">
					<dl>
						<dt class="item-content-title">{{track.title}}</dt>
						<dt class="item-content-description">{{track.artist}}</dt>
					</dl>
				</div>
				<div class="item-right">
					<button ng-click="playTrack(i)">재생</button>
				</div>
			</li>
		<ul>
	</div>
	<div class="tab-control bottom">
		<a class="tab-btn btn">선물하기</a>
		<a class="tab-btn btn" ng-click="playTracks()">듣기</a>
		<a class="tab-btn btn">담기</a>
	</div>
</div>
