<div ui-view id="search">
	<div class="search-box searchbox box">(검색결과) 검색박스</div>
	<div class="search-list box">
		<ul class="list">
			<li class="list-item">
				<div class="item-content">
					<p class="item-content-title">TEST</p>
					<p class="item-content-description">aaaa</p>
					<p class="item-content-description">aaaa</p>
				</div>
				<div class="item-right">
					<button>재생</button>
				</div>
			</li>
			<li class="list-item">
				<div class="item-content">
					<p class="item-content-title">TEST</p>
					<p class="item-content-description">aaaa</p>
					<p class="item-content-description">aaaa</p>
				</div>
				<div class="item-right">
					<button>재생</button>
				</div>
			</li>
			<li class="list-item">
				<div class="item-content">
					<p class="item-content-title">TEST</p>
					<p class="item-content-description">aaaa</p>
					<p class="item-content-description">aaaa</p>
				</div>
				<div class="item-right">
					<button>재생</button>
				</div>
			</li>
		<ul>
	</div>
	<div class="tab-control bottom">
		<a>선물하기</a>
		<a>듣기</a>
		<a>담기</a>
	</div>
</div>