<ion-content>
  <div class="header box">
    <div class="logo" ui-sref="us.top"></div>
    <div class="search-box">
      <form ng-submit="trackSearch(this)">
        <input type="text" name="keyword" ng-model="keyword" placeholder="듣고 싶은 곡을 검색하세요."/>
        <button class="search">검색</button>
      </form>
    </div>
  </div>
  <div ui-view id="search" class="search-page">
    <div class="search-list box">
      <ul class="list" ng-repeat="(i, track) in searchTracks">
        <li class="list-item" ng-class="{checked: checkedItem(track.number)}" ng-click="toggleSelection(track.number)">
          <div class="item-check">
            <input type="checkbox" name="selected" value="{{track.number}}">
          </div>
          <div class="item-content">
            <dl>
              <dt class="item-content-title">{{track.title}}</dt>
              <dt class="item-content-description">{{track.artist}} | {{track.album}}</dt>
            </dl>
          </div>
          <div class="item-right">
            <span ng-click="playerToPlay(i)" class="unplaying"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="toast fadein fadeout" ng-show="toast == true">{{toast_message}}</div>
</ion-content>
<div class="tab-control bottom" ng-show="menu">
  <a class="tab-btn" ng-click="gift()">선물하기</a>
  <a class="tab-btn" ng-click="goAlbum()">듣기</a>
  <a class="tab-btn" ng-click="pushList()">담기</a>
</div>
