<div ui-view id="search">
  <div class="search-list box">
    <ul class="list" ng-repeat="(i, track) in searchTracks">
      <li class="list-item">
        <div class="item-check">
          <input type="checkbox" name="selected" ng-click="toggleSelection(i)" value="{{i}}">
        </div>
        <div class="item-content">
          <dl>
            <dt class="item-content-title">{{track.title}}</dt>
            <dt class="item-content-description">{{track.artist}}</dt>
          </dl>
        </div>
        <div class="item-right">
          <span ng-click="playTrack(i)" class="toplay"></span>
        </div>
      </li>
    </ul>
  </div>
</div>
