<div ui-view id="top">
    <div class="top-myalbum-group box group-section" >
        <p ui-sref="player" class="subject">나의 앨범</p>
        <p class="more" ui-sref="myalbum">+ 더보기</p>
        <div class="metro-box">
          <div class="img-button" ui-sref="player">
            <div class="img-cover">
              <p class="album-title">내가<br>담은 음악</p>
              <span class="btn">담기</span><span class="btn">재생</span>
            </div>
            <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
          </div>
          <div class="img-button" ui-sref="player">
            <div class="img-cover">
              <p class="album-title">내가<br>담은 음악</p>
              <span class="btn">담기</span><span class="btn">재생</span>
            </div>
            <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
          </div>
          <div class="img-button" ui-sref="player">
            <div class="img-cover">
              <p class="album-title">내가<br>담은 음악</p>
              <span class="btn">담기</span><span class="btn">재생</span>
            </div>
            <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
          </div>
          <div class="img-button" ui-sref="send">
            <div class="img-cover none">
              <p class="album-title">앨범을 선물해<br>보세요</p>
              <span class="btn">선물</span>
            </div>
            <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
          </div>
        </div>
    </div>
  <div class="top-rec-group box group-section" >
    <p class="subject">추천 앨범</p>
    <div class="metro-box">
      <div class="img-button" ui-sref="player">
        <div class="img-cover">
          <p class="album-title">내가<br>담은 음악</p>
          <span class="btn">담기</span><span class="btn">재생</span>
        </div>
        <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
      </div>
      <div class="img-button" ui-sref="player">
        <div class="img-cover">
          <p class="album-title">내가<br>담은 음악</p>
          <span class="btn">담기</span><span class="btn">재생</span>
        </div>
        <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
      </div>
      <div class="img-button" ui-sref="player">
        <div class="img-cover">
          <p class="album-title">내가<br>담은 음악</p>
          <span class="btn">담기</span><span class="btn">재생</span>
        </div>
        <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
      </div>
      <div class="img-button" ui-sref="player">
        <div class="img-cover">
          <p class="album-title">내가<br>담은 음악</p>
          <span class="btn">담기</span><span class="btn">재생</span>
        </div>
        <div class="album-cover" style="background-image:url('http://masterplayer.net/track/image/thumb_100000.jpg')"></div>
      </div>
    </div>
  </div>
</div>
